#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.logo {
  height: 18em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border: 0;

  filter: drop-shadow(0 0 25px #ffffff);
}

.logo:hover {
  filter: drop-shadow(0 0 1em #9ab1ffaa);
}

.center-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.two-item-wrap {
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
  /* 
  width: 50%; */
}

#landing-msg {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 10px;
}

#landing-msg>* {
  padding: 10px;
  margin: 2.5px;
}

#header-txt-wrap>* {
  text-align: left;
  padding: 0px;
  margin: 0px
}

h1 {
  text-align: left;
  font-family: 'Tapestry';
}

p.accent-text {
  padding: 1px 10px !important;
  margin: 0px 0px 0px 5px;

  border-radius: 999px;
  border: 1px solid black;

  background: linear-gradient(145deg, hsl(219, 100%, 62%), #be5cff);

  color: white;
  font-size: 14px;
  width: fit-content;
}

.card {
  width: 50vw;
  min-width: 480px;
  max-width: 540px;
}

.card p {
  text-align: left;
  margin: 0px;
}

.read-the-docs {
  color: #888;
}

#form-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#form-wrap>* {
  padding: 0px;
  margin: 0px;
}

#form-wrap input {
  width: 50%;

  padding: 20px;

  border-radius: 5px 0px 0px 5px;
  border: 1px solid gray;
  border-right: 0px;

  font-size: 15px;
  ;
}

#form-wrap button {
  width: 25%;
  padding: 0px;
  margin: 0px;
  border-radius: 0px 50px 50px 0px;
  border: 1px solid gray;

  /* background-color: #888; */
}

/* mobile */
@media (max-width: 480px) {
  .logo {
    height: 12em;
  }

  .card {
    min-width: 350px;
  }

  .two-item-wrap {
    grid-template-rows: 0fr 1fr !important;
  }

  h1 {
    font-size: 2.5em !important;
    line-height: 1.5 !important;
  }
}

/* mobile - landscape */
@media (min-width: 481px) and (max-width: 767px) {
  /* Styles for mobile devices in landscape */
}

/* tablets */
@media (min-width: 0px) and (max-width: 1024px) {
  .two-item-wrap {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #header-txt-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #landing-msg {
    justify-content: center;
    align-items: center;
  }

  .card p {
    text-align: center;
  }

  #form-wrap {
    justify-content: center;
  }

  #form-wrap input {
    border-radius: 5px 0px 0px 20px;
  }

  #form-wrap button {
    border-radius: 0px 5px 20px 0px;
  }
}

/* tablets - landscape */
@media (min-width: 1025px) and (max-width: 1280px) {
  /* Styles for tablets in landscape */
}

/* small laptops & desktops */
@media (min-width: 1281px) and (max-width: 1440px) {
  /* Styles for small laptops/desktops */
}


/* Large desktops */
@media (min-width: 1441px) {
  /* Styles for large desktops */
}

/* Retina displays */
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  /* Styles for Retina displays */
}


/* dark mode */
@media (prefers-color-scheme: dark) {
  /* Styles for dark mode */
}

/* reduced motion */
@media (prefers-reduced-motion: reduce) {
  /* Styles for users who prefer reduced motion */
}